.app{
  max-width: 1fr;
  /* background-color: whitesmoke; */
}
.NoMatch{
  text-align: center;
}

.header{
  height: 60px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Button{
  max-height: 80px;
  background-color: #f50057;
  border: none;
  border-radius: 5px;
  width: 90px;
  height: 5vh;
  cursor: pointer;
}

.headerContainer {
  width: 90%;
  height: 50%;
  /* padding: 1vh; */
  display: flex;
  
  justify-content: space-between;
}

.headerContainer img{
  height: 100%;
}

.left{
  margin-right: 30vw;
}

.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
  width: 50%;
}

.right *{
  margin-left: 5%;
}

.banner{
  /* background-color: yellow; */
  width: 1fr;
  height: 85vh;
  background-image: url(../src/images/bannerbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  position: relative;
  top: 10px;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: .5rem;
  margin-left: 5%;
}

.form{
  display: "flex";
  flex-direction:"column";
  justify-content: "center";
  align-items: "center";
  width: "50%";
}